---
import { works } from "./data";
const mdxs = await Astro.glob("../content/*.md");

// console.log(mdxs);
---

<div>
  <h2 class="my-6 heading text-4xl">SHOW & TELL</h2>
</div>
<section class="breakout">
  <div class="col-start-1 grid grid-cols-12 gap-4">
    {
      mdxs.map((md) => {
        const { id, imgs } = md.frontmatter;
        return (
          <div class=" col-span-8 col-start-4 row-span-4">
            <a href={`/portfolio/work/${id}`}>
              <img
                src={`/portfolio/work/${imgs?.[0]}`}
                alt={`${id} website image`}
                transition:name={`${id}-img`}
              />
            </a>
          </div>
        );
      })
    }
    <!-- {
      Object.values(works).map((item) => (
        <div class=" col-span-8 col-start-4 row-span-4">
          <a href={`/portfolio/work/${item.id}`}>
            <img
              src={`/portfolio/work/${item.imgs[0]}`}
              alt="asda"
              transition:name={`${item.id}-img`}
            />
          </a>
        </div>
      ))
    } -->
  </div>
</section>
