---
export type Props = {
  md: {
    frontmatter: {
      id: string;
      title: string;
      imgs: string[];
    };
  };
};

const { id, imgs, title } = Astro.props.md.frontmatter;
---

<>
  <a
    href={`/portfolio/work/${id}`}
    class="w-full h-full block group overflow-hidden rounded transition-all duration-200 hover:scale-[97%] hover:grayscale focus-visible:scale-[97%] focus-visible:grayscale"
    aria-label={title}
  >
    <p
      class="absolute top-0 bg-opacity-50 z-10 w-full text-center pt-2 pb-14 text-xl opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100 duration-500 bg-[linear-gradient(to_bottom,rgba(0,0,0,0.6),transparent)]"
    >
      {title}
    </p>
    <img
      class="w-full h-full object-cover object-top"
      src={`/portfolio/work/${imgs?.[0]}`}
      alt={`${id} website image`}
      transition:name={`${id}-img`}
    />
  </a>
</>
