---
import Page from "../../comp/Page.astro";

export async function getStaticPaths() {
  const mdxs = await Astro.glob("../../content/work/*.md");
  const list = mdxs.map((md) => ({
    params: {
      id: md.frontmatter.id,
    },
    props: {
      markdown: md,
    },
  }));
  return list;
}

const { markdown } = Astro.props;
const { id, title, url, imgs } = markdown.frontmatter;
const { Content } = markdown;
---

<Page>
  <style is:global>
    body {
      background: black;
    }
  </style>
  <div class="_content-grid px-10 mx-auto max-w-[1200px]" x-data="{}">
    <header>
      <a href="/portfolio/about" @click.prevent="window.history.back()">Back</a>
      <h1>{title}</h1>
    </header>
    <main class="h-[80vh] max-h-[800px]">
      <div class="my-auto">
        <img
          class="snap-center"
          src={`/portfolio/work/${imgs[0]}`}
          alt={`${id} website image`}
          transition:name={`${id}-img`}
        />
        <!-- {
          imgs
            .slice(1)
            .map((img) => (
              <img
                class=" snap-center"
                src={`/portfolio/work/${img}`}
                alt={`${id} website image`}
                transition:name={`${id}-img`}
              />
            ))
        } -->
      </div>
      <div>
        <p>
          url :
          <a href={url}>
            {url}
          </a>
        </p>

        <div class="md">
          <Content />
        </div>
      </div>
    </main>
  </div>
</Page>

<style is:global>
  .md ul {
    padding-left: 1.5rem;
    list-style: disc;
  }
</style>
